  <style>
	{
      align-items: center;
      text-align: center;
      background-color: #FFFFFF;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 20px;
    }

    #logo {
      margin-left: 50px;
    }

    #menu {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      margin: 50px;
    }

    #menu li {
      margin: 0 30px;
    }

    #menu a {
      text-decoration: none;
      color: #4CAAAD;
      padding: 5px;
      border-bottom: 2px solid transparent;
      transition: border-bottom-color 0.3s ease-in-out;
    }

    #menu a:hover {
      border-bottom-color: #FF27D1;
    }

    .animated-text {
      opacity: 0;
      margin-top: 20px;
      transform: translateY(20px);
      animation: slideInText 1s ease-in-out forwards;
    }

    @keyframes slideInText {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
			 
        }
        .container {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
        .contact-info {
            flex: 1;
            padding: 20px;
            border: 1px solid #ccc;
        }
        .contact-form {
            flex: 1;
            padding: 20px;
            border: 1px solid #ccc;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 2px solid #ccc;
            padding: 10px;
			}
      #footer {
      background-color: #4CAAAD;
      color: #FFFFFF;
      padding: 20px;
      text-align: center;
    </style>